.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 650px;
    height: 660px;
    text-align: center;

    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.logIn {
    margin-top: 25px;

    font-family: 'Aleo',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    color: #0D606F;

}

.facebook-btn {
    border: none; 
    outline: none;

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;

    width: 560px;
    height: 56px;

    background: #1877F2;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;

    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 26px;

    color: #FFFFFF;
}

.Google-btn {
    border: none; 
    outline: none;

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;

    width: 560px;
    height: 56px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;

    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #0D606F;;
}

.half {
    display: inline-flex;
    width: 100px;
    margin-top: auto;
    margin-bottom: 4px;

    border: 1px solid rgba(13, 96, 111, 0.5);
}

.or {
    margin-left: 9px;
    margin-right: 9px;

    text-align: center;

    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(13, 96, 111, 0.5);
}

.input-title {
    text-align: left;

    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #0D606F;
}

.text-inpt {
    border: none; 
    outline: none;

    width: 560px;
    height: 54px;

    background: #FFFFFF;
    box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.signIn-btn {
    border: none; 
    outline: none;

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 229px;
    gap: 10px;
    
    width: 560px;
    height: 54px;
    
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;

    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #FFFFFF;
}

.forgot {
    font-family: 'Aleo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    
    text-decoration-line: underline;

    color: #0D606F;

    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.bottom-line {
    border: 1px solid rgba(13, 96, 111, 0.5);
    transform: rotate(0.1deg);
}

.register {
    font-family: 'Aleo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: rgba(13, 96, 111, 0.5);
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.regist {
    color: rgba(13, 96, 111, 1);
}