* {
  box-sizing: border-box;
}

body {
  height: 3735px;
  margin: 0;
  padding: 0;
  
  background-image: url("./Img/bg.png"),
                    url("./Img/garrett-parker-DlkF4-dbCOU-unsplash1.png"),
                    url("./Img/Rectangle33.png");
                    
  
  background-repeat: no-repeat;
  background-position: bottom 62px right, top, bottom;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  background-color: rgba(242, 120, 92, 0.7);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 0.5);
  -moz-box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 0.5);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 32px;
}

.navigation {
  display: flex;
  margin: 0 -42px;
}

.list_title {
  flex: 1 1 auto;
  margin-left: 42px;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  color: #FFFFFF;
  
}

.mr0 {
  margin-left: 0;
} 

.login {
  border: none; 
  outline: none;
  background: transparent;
  background-color: rgba(13, 96, 111, 1);
  color: #ffffff;
  width: 103px;
  padding: 10px 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
}

.preview {
  position: absolute;
  top: 122px;
  left: 120px;
  width: 892px;
}
.explore {
  margin: 0;
  font-family: 'Aleo', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}

.recommendations {
  position: absolute;
  top: 224px;
  margin: 0;
  font-family: 'Aleo', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.search {
  position: relative;
  width: 892px;
  top: 100px;
}

.search-inpt {
  border: none; 
  outline: none;
  background: transparent;

  width: 100%;
  height: 95px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.7);
}

::placeholder {
  position: absolute;
  left: 41px;
  top: 32px;
  font-family: 'Aleo', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #F2785C;
}

.search-btn {
  border: none; 
  outline: none;
  
  position: absolute;
  width: 228px;
  height: 59px;
  right: 18px;
  top: 18px;

  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;

  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  
  color: #FFFFFF;
}

.steps {
  position: absolute;
  width: 1177px;
  height: 247px;
  left: 131px;
  top: 845px;
  margin: 0;
  padding: 0;
}

.steps_title {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

.frames {
  display: flex;
  height: 154px;
  margin-top: 40px;
}

.frame {
  
}

.cube {
  width: 100px;
  height: 100px;
  background-color: #F2785C;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.cube-title {
  font-family: 'Aleo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.right {
  margin-left: auto;
}

.centre {
  margin-left: 10%;
  margin-right: auto;
}

.left {
  margin-right: auto;
}

.destinations {
  position: absolute;
  width: 100%;
  height: 1042px;
  top: 1189px;
  margin-bottom: 80px;
}

.destinations-title {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
  margin-bottom: 46px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 800px;
  border-radius: 16px;
}

.image-1 {
  background-image: url("./Img/Rectangle23.png");
  background-repeat: no-repeat;
  margin-right: 60px;
}

.image-2 {
  background-image: url("./Img/Rectangle24.png");
  background-repeat: no-repeat;
  margin-right: 60px;
}

.image-3 {
  background-image: url("./Img/Rectangle25.png");
  background-repeat: no-repeat;
  margin-right: 60px;
}

.btn-find, .btn-stories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;

  margin-left: auto;
  margin-right: auto;

  width: 228px;
  height: 59px;

  border: none; 
  outline: none;
  background: transparent;
  
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}

.btn-find_titlle, .btn-stories_titlle {
  width: 116px;
  height: 32px;
  
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.stories {
  position: absolute;
  width: 1201px;
  height: 1322px;
  left: 119px;
  top: 2311px;
  margin-bottom: 55px;
}

.stories_title {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;

  text-align: center;
  margin-bottom: 80px;
}

.story {
  display: flex;
  margin-bottom: 30px;
}

.story-img {
  width: 400px;
  height: 250px;
  
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.img1 {
  background: url("./Img/Rectangle29.png");
}

.img2 {
  background: url("./Img/Rectangle30.png");
}

.img3 {
  background: url("./Img/Rectangle31.png");
}

.img4 {
  background: url("./Img/Rectangle32.png");
}

.story-list {
  width: 760px;
  margin-left: auto;
}

.story-list_title {
  font-family: 'Aleo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;

  margin-bottom: 24px;
}

.story-list_about {
  font-family: 'Aleo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.more-weight {
  font-weight: 700;
  text-decoration: underline;
}

.btn-stories {
  margin-top: 40px;
}

.footer {
  position: absolute;
  top: 3688px;
  left: 590px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-title {
  font-family: 'Red Hat Text',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin-right: 328px;
}

.footer-links {
  display: flex;
  width: 140.96px;
}

.link {
  display: block;
}

.Twitter-img {
  margin-left: auto;
}

.Video-img {
  margin-left: auto;
  margin-right: auto;
}

.Instagramm-img {
  margin-right: auto;
}