* {
  box-sizing: border-box;
}

body {
  
  margin: 0;
  padding: 0;
  
  background-image: url("./Img/bg.png"),
                    url("./Img/garrett-parker-DlkF4-dbCOU-unsplash1.png"),
                    url("./Img/Rectangle33.png");
                    
  background-repeat: no-repeat;
  background-position: bottom 62px right, top, bottom;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: rgba(242, 120, 92, 0.7);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 0.5);
  -moz-box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 0.5);
}

.header-content {
  display: flex;
  width: 83.334%;
}

.logo {
  color: #ffffff;
  font-size: 32px;
}

.navigation {
  display: flex;
  width: 43.917%;
  align-items: center;
  margin-left: 16%;
}

.list_title {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  color: #FFFFFF;
}

.mlra {
  margin-left: auto;
  margin-right: auto;
}

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}

.login {
  border: none; 
  outline: none;
  background: transparent;
  background-color: rgba(13, 96, 111, 1);
  color: #ffffff;
  width: 8.584%;
  padding: 0.834%;
  margin-left: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
}

.preview {
  margin-top: 2.249%;
  margin-left: 8.433%;
  width: 62.685%;
}

.explore {
  margin: 0;
  font-family: 'Aleo', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}

.recommendations {
  margin: 0;
  margin-top: 3.5%;
  font-family: 'Aleo', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.search {
  margin-top: 5.158%;
}

.search-inpt {
  border: none; 
  outline: none;
  background: transparent;

  padding: 0;
  width: 100%;
  height: 95px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.7);
}

.search-inpt::placeholder {
  padding-left: 4.5%;
  font-family: 'Aleo', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
}

.search-btn {
  border: none; 
  outline: none;
  padding: 0;
  
  width: 25.562%;
  height: 59px;

  position: relative;
  bottom: 77px;
  left: 72.5%;

  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;

  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  
  color: #FFFFFF;
}

.steps {
  width: 81.737%;
  margin-top: 19.152%;
  margin-left: auto;
  margin-right: auto;
}

.steps_title {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

.frames {
  display: flex;
  margin-top: 3.399%;
}

.cube {
  width: 100px;
  height: 100px;
  background-color: #F2785C;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  
}

.cube-title {
  text-align: center;
  margin-top: 30px;
  font-family: 'Aleo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.right {
  margin-left: auto;
}

.centre {
  margin-left: 10%;
  margin-right: auto;
}

.left {
  margin-right: auto;
}

.destinations {
  margin-top: 6.737%;
  width: 100%;
}

.destinations-title {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
  margin-bottom: 46px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border-radius: 16px;
}

.image-1 {
  background-image: url("./Img/Rectangle23.png");
  background-repeat: no-repeat;
  margin-right: 60px;
}

.image-2 {
  background-image: url("./Img/Rectangle24.png");
  background-repeat: no-repeat;
  margin-right: 60px;
}

.image-3 {
  background-image: url("./Img/Rectangle25.png");
  background-repeat: no-repeat;
  margin-right: 60px;
}
.btn-find{
  margin-top: 5.834%;

}
.btn-find, .btn-stories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 10px;

  margin-left: auto;
  margin-right: auto;

  width: 15.834%;
  height: 59px;

  border: none; 
  outline: none;
  background: transparent;
  
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}

.btn-find_titlle, .btn-stories_titlle {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.stories {
  margin-top: 5.556%;
  width: 84.4%;
  height: 1322px;
  margin-left: auto;
  margin-right: auto;
}

.stories_title {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;

  text-align: center;
  margin-bottom: 6.662%;
}

.story {
  display: flex;
  margin-bottom: 2.499%;
  height: 18.911%;
}

.story-img {
  width: 33.306%;
  height: 100%;
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.img1 {
  background: url("./Img/Rectangle29.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.img2 {
  background: url("./Img/Rectangle30.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.img3 {
  background: url("./Img/Rectangle31.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.img4 {
  background: url("./Img/Rectangle32.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.story-list {
  width: 63.364%;
  margin-left: auto;
}

.story-list_title {
  font-family: 'Aleo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;

  margin-bottom: 24px;
}

.story-list_about {
  font-family: 'Aleo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.more-weight {
  font-weight: 700;
  text-decoration: underline;
}

.btn-stories {
  margin-top: 3.331%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 3.866%;
  margin-left: 40.973%;
  width: 51.228%;
  padding-bottom: 15px;
}

.footer-title {
  font-family: 'Red Hat Text',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.footer-links {
  display: flex;
  width: 19.339%;
  margin-left: auto;
}

.link {
  display: block;
}

.Twitter-img {
  margin-left: auto;
}

.Video-img {
  margin-left: auto;
  margin-right: auto;
}

.Instagramm-img {
  margin-right: auto;
}